<header class="panel-cover {% if page.layout == 'post' or page.layout == 'page' %}panel-cover--collapsed{% endif %}" style="background-image: url('{{ site.pic }}background-cover.jpg')">
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
    <div class="panel-main__content">

        <a href="/#blog" title="前往 {{ site.title }} 的主页" class="blog-button"><img src="{{ site.pic }}avatar.jpg" width="80" alt="{{ site.title }} logo" class="panel-cover__logo logo" /></a>
        <h1 class="panel-cover__title panel-title"><a href="/#blog" title="link to homepage for {{ site.title }}" class="blog-button">{{ site.title }}</a></h1>
        {% if site.subtitle %}
        <span class="panel-cover__subtitle panel-subtitle">{{site.subtitle}}</span>
        {% endif %}
        <hr class="panel-cover__divider" />
        <!-- <p class="panel-cover__description">{{ site.description }}</p> -->
		<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
		<!-- //目标容器 -->
		<!-- <div style="text-align: center;" class="panel-cover__description"> -->
			<span class="element"></span>
		<!-- </div> -->
		<script>
		    var typed = new Typed('.element', {
		      strings: ["欢迎来到我的博客。\n我是许铮，一个3D动画师。",
				"对待生命不妨大胆冒险一点，因为自己总会失去它。",
				"不为无益之事，何以遣有涯之生。",
				"牌烂更要用心打。",
				"人不为己，天诛地灭。",
				"与怪物战斗的人，要小心不让自己成为怪物。\n当你凝视深渊时，深渊也在凝视你。",
				"大道至简。",
				"夏虫不可以语于冰。",
				"人之患,在好为人师。",
				"血气之怒不可有，义理之怒不可无。",
				"人因梦想而伟大。",
				"你不需要知道那些名言到底是谁说的，\n你只需要随便说一句看起来很有道理的话，\n然后在后面随便安个名字。 ^1000 \n就像这样。"
				"你我都在修行中。",
				"Do it！",
				"格物致知。",
				"游戏人生。"], //输入内容, 支持html标签,\n和<br>都可以换行,^1000可以暂停一秒
		      typeSpeed: 50, //打字速度
			  startDelay: 0, //延迟开始,没啥用,只在每组循环的第一次开始时有效
		      backSpeed: 30 , //回退速度
			  backDelay: 2500, //延迟回退
			  shuffle: false, //随机洗牌,开了会出问题,后续输入没有打字效果,在打字完突然变化.
			  loop: true , //循环
		    });
		</script>
        <hr class="panel-cover__divider panel-cover__divider--secondary" />
        
        {% if site.welcome_message %}
        <p class="panel-cover__description">{{ site.welcome_message }}</p>
        {% endif %}
        
        <div class="navigation-wrapper">
          <div>
            <nav class="cover-navigation cover-navigation--primary">
              <ul class="navigation">
                <li class="navigation__item"><a href="/#blog" title="{{site.blog_button.description}}" class="blog-button">{{site.blog_button.title}}</a></li>
                {% for item in site.nav %}
                  <li class="navigation__item"><a href="{{item.url}}" target="_blank" title="{{item.description}}">{{item.title}}</a></li>
                {% endfor %}
              </ul>
            </nav>
          </div>
          
          <div>{% include social.html %}</div>
        </div>
      </div>
    </div>
    
    {% if site.cover_color %}
    <div class="panel-cover--overlay cover-{{site.cover_color}}"></div>
    {% else %}
    <div class="panel-cover--overlay cover-disabled"></div>
    {% endif %}
  </div>
</header>
